*.pdf
*.bak
*.log
/Simulation/
/LogicAnalyser_Synthesis/
/Synthesis/
/sigrok-firmware-fx2lafw-bin-0.1.6/
/Sigrok_Example.sr
/Documents/
/Misc/
/TestPapilio/
_ngo/
_xmsgs/
xlnx_auto_0_xdb/
xst/
origin/
/LogicAnalyser_Synthesis_/
/Source.manystates/
/TestModule/
/WinDrivers/
/Modelsim_Libraries/
/PapPro-sdram_v0.6/
/Simulation.old/
/Synthesis.old/
/TestGeneratedFifo/
