// Main clock (50MHz)
NET "clock_50MHz" TNM_NET = clock_50MHz;
TIMESPEC TS_clock_50MHz = PERIOD "clock_50MHz" 50 MHz HIGH 50%;

NET "clock_50MHz"       LOC = A10   |IOSTANDARD = LVTTL;  // SYS_CLK

TIMESPEC TS_IGNORE1 = FROM "Digitalclockmanager_inst_clkfx" TO "Digitalclockmanager_inst_clk2x" TIG;
TIMESPEC TS_IGNORE2 = FROM "Digitalclockmanager_inst_clk2x" TO "Digitalclockmanager_inst_clkfx" TIG;
